{% extends "core/base.html" %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static 'ragwebapp/css/chat.css' %}"/>
{% endblock %}
{% block content %}
    <div style="display:flex;flex-direction: column;">

        <div style="display:flex;flex-direction: column; width:500px; height:600px;overflow:scroll;">
            {% for message in messages %}
                <p>{{ message.message }}</p>
            {% endfor %}
        </div>
        <form action="{% url "ragwebapp:chat" chat_id=chat_id %}" method="POST" id="search-bar-container"
              enctype="multipart/form-data">
            {% csrf_token %}
            <div id="search-bar">
                <label class="toggle-button" id="attach-button">
                    <img src="{% static 'core/img/attach-icon.png' %}" alt="Attach">
                    <input style="display:none;" type="file" name="attachments" multiple/>
                </label>
                <input type="search" name="message" id="search-input-text" placeholder="What's Up, Doc?">
                <button type="submit" class="toggle-button" id="send-button">
                    <img src="{% static 'core/img/send-icon.png' %}" alt="Send">
                </button>
            </div>
            <div id="search-bar-tools">
                <button class="ghost-button">
                    Ingredient Checker
                </button>
                <button class="ghost-button">
                    BMI Calculator
                </button>
                <button class="ghost-button">
                    Brain Fixer
                </button>
            </div>
        </form>
    </div>
{% endblock %}
