{% extends "core/base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'ragwebapp/css/landing.css' %}">
{% endblock %}

{% block content %}
    <div id="landing-page">
        <header>
            <div id="control-panel">
                <button class="toggle-button">
                    Classical RAG
                    <img src="{% static 'core/img/arrow-down-icon.png' %}" alt="Arrow down">
                </button>
                <a href="{% url "ragwebapp:new_chat" %}" class="text-button">

                    New chat
                </a>
            </div>
            <div id="auth-panel">
                <button class="filled-button">
                    Sign up
                </button>
                <button class="text-button">
                    Sign in
                </button>
            </div>
        </header>
        <main>
            <div id="search-bar-container">
                <h1>MedAI</h1>
                <div id="search-bar">
                    <button class="toggle-button" id="attach-button">
                        <img src="{% static 'core/img/attach-icon.png' %}" alt="Attach">
                    </button>
                    <input type="search" name="query" id="search-input-text" placeholder="What's Up, Doc?">
                    <button type="submit" class="toggle-button" id="send-button">
                        <img src="{% static 'core/img/send-icon.png' %}" alt="Send">
                    </button>
                </div>
                <div id="search-bar-tools">
                    <button class="ghost-button">
                        Ingredient Checker
                    </button>
                    <button class="ghost-button">
                        BMI Calculator
                    </button>
                    <button class="ghost-button">
                        Brain Fixer
                    </button>
                </div>
            </div>
            <!-- <div id="recent-chats-container">
                <div id="recent-chats-header">
                    <h2>Recent chats</h2>
                </div>
                <div id="recent-chats">
                    <div class="chat-item">
                        <img src="images/placholder-image.png" alt="Placeholder image">
                        <div class="chat-item-text-container">
                            <h3>Drugs</h3>
                            <p>Please provide a detailed description of cocaine, including its chemical composition, physical forms...</p>
                        </div>
                    </div>
                    <div class="chat-item">
                        <img src="images/placholder-image.png" alt="Placeholder image">
                        <div class="chat-item-text-container">
                            <h3>Drugs</h3>
                            <p>Please provide a detailed description of cocaine, including its chemical composition, physical forms...</p>
                        </div>
                    </div>
                    <div class="chat-item">
                        <img src="images/placholder-image.png" alt="Placeholder image">
                        <div class="chat-item-text-container">
                            <h3>Drugs</h3>
                            <p>Please provide a detailed description of cocaine, including its chemical composition, physical forms...</p>
                        </div>
                    </div>
                </div>
            </div> -->
        </main>
        <footer>
            <p>Remember to always <strong>verify the information</strong> received from AI.</p>
        </footer>
    </div>

{% endblock %}