{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedAI - Healthcare Assistance for Everyone</title>
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'core/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/aside.css' %}">
    {% block head %}
    {% endblock %}
    <script src="{% static 'core/js/main.js'%}" defer></script>
    <!-- Scripts -->
</head>
<body>
<aside>
    <div id="aside-header">
        <button class="toggle-button" id="menu-button">
            <div id="menu-button-image">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
    </div>
    <div id="aside-content">
        <div id="chats-control-panel">
            <button class="text-button">
                <img src="{% static 'core/img/search-icon.png' %}" alt="Delete chat">
                Search
            </button>
            <button class="text-button">
                <img src="{% static 'core/img/delete-icon.png' %}" alt="Delete chat">
                Delete all chats
            </button>
        </div>
        <div id="chat-list-container">
            <h4 id="chat-list-header">Chats</h4>
            <div id="chat-list">
                {% for chat in chats %}
                    <a class="chat-item" href="{% url "ragwebapp:chat" chat_id=chat.id%} ">
                        <h4>{{ chat.title }}</h4>
                        <button class="toggle-button">
                            <img src="{% static 'core/img/delete-icon.png' %}" alt="Delete chat">
                        </button>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</aside>
{% block content %}
    main {

    }
{% endblock %}
</body>
</html>
